/* Global resets to get a more consistent appearance on different browsers */

/* Box sizing rules for alternative CSS box model */
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove default padding and list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	padding: 0;
    list-style: none;
}

/* Make images and videos easier to work with */
img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}
